@import "./includes/_null.scss", "./components/header";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

//-----//

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
	background: radial-gradient(ellipse at center, #e0e9f0 0%, #fee6da 31%, #ffd5d9 76%, #f8d5eb 100%);
	width: 100%;
	min-height: 100vh;
	font-family: "Roboto";
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	& > * {
		flex: 1 0 auto;
	}
}

[class$="_container"] {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.listik {
	&__container {
		padding-top: 60px;
		padding-bottom: 40px;
		@media (max-width: 900px) {
			padding: 30px 30px 0px;
		}
	}
	&__list {
		column-count: auto;
		column-width: clamp(270px, 28vw, 500px);
		column-gap: 1em;
		counter-reset: day_counter;
		font-size: 1.4rem;
		font-family: "Balsamiq Sans", cursive;
		font-weight: 500;
		span {
			font-style: italic;
		}
	}
	li {
		overflow: visible;
		color: #333;
		display: flex;
		align-items: flex-start;
		line-height: 1;
		position: relative;
		width: fit-content;
		&.today {
			text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.377);
			&::after {
				content: "";
				position: absolute;
				width: 120%;
				height: 120%;
				right: -10%;
				top: -30%;
				background:
					url("../assets/img/whiskers1.svg") top left / auto 100% no-repeat,
					url("../assets/img/whiskers2.svg") top right / auto 100% no-repeat,
					url("../assets/img/underline.svg") top 128% right 0px/ 100% auto no-repeat;
			}
		}
	}

	li:before {
		counter-increment: day_counter;
		content: counter(day_counter) ". ";
		font-size: 1.3em;
		font-family: "Croissant One", cursive;
		font-weight: 600;
		color: rgb(255, 74, 108);
		margin-right: 0.3em;
		position: relative;
		top: -0.2em;
		text-shadow:
			-1px 0 0 rgb(255, 132, 0),
			1px 0 0 blue;
	}

	li.rest {
		color: hotpink;
		&::before {
			color: hotpink;
			text-shadow: none;
		}
	}

	li:not(:last-child) {
		margin-bottom: 0.7em;
	}

	li.done {
		color: grey;
		&::before {
			color: grey;
			text-shadow: none;
		}
	}
}
